################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

packages
**/bin
**/obj
.vs
/dbTests/IntegrationTests_log.ldf
/dbTests/IntegrationTests.mdf
